body {
	background-color: #211960;
}

.wrap {
	display: flex;
	flex: wrap;
	margin: -10px 25px 5px 25px;
}

#nav {
	border: 0 solid;
	background-color: #968CE7;
	content: 25px 25px;
	width: 50%;
}

#content {
	background-color: #3023A1;
	text-align: center;
	padding: 5px 5px;

}

.list-style {
	list-style-type: none;
	
}

.footer {
	text-align: right;
	clear: both;
	padding-right: 15px;
	font-size: 14px;
}