body {
	background-color: #191C59;
}

#wrap {
	width: auto;
}

.content-wrap {
	display:  flex;
	flex-wrap: wrap;
}

#nav {
float: left;
width: 20%;
margin-left: 5%;
padding-top: 1em;
padding-bottom: 2em;
text-align: center;
background: #7F81B1;
}

#content {
	float:  left;
	width: 60%;
	padding-top: 1em;
	padding-left: 2em;
	background-color: #545994;
}

.ul  {
 list-style-type: none;
}

h1 {
	text-align: center;
	font-weight: bold;
}

p, .li {
	font-weight: bold;
	text-align: center;
}

footer {
	clear: both;
	text-align: center;
	padding-top: 10px;
}