.odd {
	background-color: #C583AE;
	font-family: 'Noto Serif HK', serif;

}

.oddly-cool{
	font-size: 24px;
}

#two {
	color: #595494;
	font-size: 36px;
}


#four {
	font-size: 24px;
	font-weight: strong;
	background-color: #499273;
}
